#aboutMeTitle {
    margin-top: 10px;
    }

.navbar-brand {
    font-size: 40px;
    font-weight: bold;
    margin-top: 5px;
    }

.fa {
    font-size:36px;
    margin-top: -8px;
    }

.navbarButton {
    font-size: 24px;
    margin-top:10px;
    }

body {
    background-color: rgb(189, 255, 189);
    }

#profilePicture {
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(189, 255, 189);
    }

#profileFrame {
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.4), 0px 16px 20px 0px rgba(0, 0, 0, 0.19);
    max-width: 110%;
    height: auto;
    }

.title {
    text-align: center;
    background: green;
    color: white;
    margin: 5px auto 5px auto;
    padding: 5px;
    width: 550px;
    border-radius: 15px;
    border: 2px solid black;
    }

#aboutMeParagraph {
    padding: 10px;
    margin: 0px auto 0px auto;
    width: 550px;
    }

#projectsParagraph {
    margin: 5px auto 5px auto;
    width: 550px;
    border-radius: 5px;
    }

.taskTitle {
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    }

.taskParagraph {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }

.toolsTitle {
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    }

li {
    list-style-type: circle;
    list-style-position: inside;
    }

#linksParagraph {
    margin: 5px auto 5px auto;
    width: 550px;
    border-radius: 5px;
    }

p {
    background-color: rgb(189, 255, 189);
    text-align: center;
    padding: 5px;
    font-size: 17px;
    }

.projectBack {
    background:rgb(85, 207, 85);
    height: 350px;
    margin-bottom: 5px;
    border-radius: 3px;
    }

.graph {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 90%;
    }

.everyUl {
    color: black;
    padding-top: 5px;
    }

h3 {
    text-align: center;
    background: black;
    color: lightgrey;
    padding: 5px 5px 5px 5px;
    margin-bottom: 25px;
    }

.pageLink {
    background:rgb(236, 255, 236);
    }

.pageLink {
    background-color: rgb(189, 255, 189);
}
