#aboutMeTitle {
    margin-top: 10px;
}

body {
    background-color: rgb(236, 255, 236);
    }

.taskTitle {
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    }

.taskParagraph {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }

.toolsTitle {
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    }

li {
    list-style-type: circle;
    list-style-position: inside;
    }

.title {
    text-align: center;
    background: green;
    color: white;
    margin: 5px;
    margin: 5px auto 5px auto;
    width: 500px;
    border-radius: 15px;
    }

#aboutMeParagraph {
    margin: 5px auto 5px auto;
    width: 550px;
    border-radius: 5px;
    }

#projectsParagraph {
    margin: 5px auto 5px auto;
    width: 550px;
    border-radius: 5px;
    }

#linksParagraph {
    margin: 5px auto 5px auto;
    width: 550px;
    border-radius: 5px;
    }

p {
    background: lightgreen;
    text-align: center;
    padding: 5px;
    font-size: 17px;
    }

.col-sm-3 {
    background: white;
    }

.everyDiv {
    background: purple;
    height: 350px;
    margin-bottom: 5px;
    border-radius: 3px;
    }

.otherDiv {
    background: rgb(248, 142, 2);
    height: 350px;
    margin-bottom: 5px;
    border-radius: 3px;
    }

.graph {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

.everyUl {
    color: white;
    padding-top: 5px;
    }


.linkHolder {
    margin: 5px auto 10px auto;
    background: rgb(248, 142, 2);
    font-size: 30px;
    text-align: center;
    border-radius: 15px;
    width: 200px;
    }

h3 {
    text-align: center;
    background: lightgrey;
    color: blue;
    padding: 5px 5px 1px 5px;
    }


